[user]
        name = Johnny Brown
        email = johnnybrown7@gmail.com

[color]
        ui = true

[alias]
        co = checkout
        ci = commit
        rb = rebase
        sj = status
        blamestats = !~/Desktop/jtools/git-utils/blamestats.py ${GIT_PREFIX:-.}
